<h2>This is the home page</h2>
<table>
    <tr>
        <th>
            First Name
        </th>
        <td>
            {{Fname}}
        </td>
    </tr>
    <tr>
        <th>
            Last Name
        </th>
        <td>
            {{Lname}}
        </td>
    </tr>
    <tr>
        <th>
            Age
        </th>
        <td>
            {{Age}}
        </td>
    </tr>
    <tr>
        <th>
            Salary
        </th>
        <td>
            {{salary}}
        </td>
    </tr>
</table>
