<form data-toggle="md-validator">  
    <div id="Checkemail" class="md-form-group md-label-floating"> <input class="md-form-control" type="text" name="email" maximum="10" ng-model="Mobilenumber"> <label class="md-control-label">Enter your MobileNumber</label> </div>  
    <div class="toast-message">  
        <p style="text-align:center;color:red;"></p>  
    </div>  
    <div class="md-form-group"> <button type="submit" ng-keyup="$event.keyCode == 13" class=" btn btn-primary btn-block" ng-click="Submit()">Submit</button> </div>  
</form>  