<!-- <h1>This is the main page</h1> -->
<!-- <app-home></app-home>
<app-contact></app-contact>
<app-emp></app-emp>
<router-outlet></router-outlet> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/emp">Employees</a>
        </li>
      </ul>
    </div>
  </nav> -->
  <nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li> <a routerLink="/">Home </a></li>
            <!-- <li class="active"><a routerLink="/about">About Us</a></li> -->
            <li> <a routerLink="/contact">Contact Us</a></li>
            <li> <a routerLink="/emp">Employee</a></li>
            <li> <a routerLink = "/emplist">Employee List</a></li>
            <li> <a routerLink= "/reactiveform">Reactive Form</a></li>
            <li> <a routerLink = "/userdata">User Data</a></li>
            <li><a routerLink = "/classdemo">Class Demo</a></li>
            <li> <a routerLink = "/likedislike">Like-Dislike</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>